.grid-container[b-a7ifog4ov7] {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 kolumner */
  gap: 0px;
  /* Avstånd mellan rutorna */
}

.vertical-container[b-a7ifog4ov7] {
  display: flex;
  flex-direction: column;
  /* Ställ in riktningen till kolumn för att stapla boxarna */
}

.box[b-a7ifog4ov7] {
  padding: 20px;
  text-align: center;
}

.box1[b-a7ifog4ov7] {
  background-color: lightblue;
  /* För box1 */
  height: 300px;
}

.box2[b-a7ifog4ov7] {
  background-color: lightgreen;
  /* För box2 */
  height: 300px;
}

.box3[b-a7ifog4ov7] {
  background-color: lightcoral;
  /* För box3 */
  overflow: auto;
  /* Tillåt scrollning om innehållet överskrider boxens höjd */
}